* {
  font-family: ManropeVariable, sans-serif;
  color: white
}

.ReactCollapse--collapse {
  transition: height 300ms;
}

:root {
  --margin: 24px;
}

@media only screen and (max-width: 600px) {
  :root {
    --margin: 18px;
  }
}